.property-table{
    margin: 50px auto;
    /* width: fit-content; */
    /* padding: 25px 25px; */
}

caption {
    display: table-caption;
    text-align: center;
    font-weight: 700;
  }

  .table-grid{
      margin: auto 150px;
  }

  #property-header ,h6{
    padding: 0px 150px;
    /* padding: 100px auto; */
}
h6{
    padding: auto 150px;
    /* padding: 100px auto; */
}

.right-col{
    text-align: right;
}



