body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Properties.js Page Styling */
hr {
  opacity: 1%;
}

.addPropertyButton {
  flex-wrap: nowrap;

}

.PropsHeading {
  padding-top: 0.5%;
  padding-left: 5%;

} 

/* Address from PropertyList.js */
.list-group {
  margin-left: auto;
}
