body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Properties.js Page Styling */
hr {
  opacity: 1%;
}

.addPropertyButton {
  flex-wrap: nowrap;
}

.PropsHeading {
  padding-top: 0.5%;
  padding-left: 5%;
}


/* PropertyList.js*/

.list-group {
  margin-left: auto;
}

/* Edit Button in PropertyList.js*/
.editButton {
  margin-bottom: 1%;
}

/* Add Properties Button in PropertyList.js*/
.addProperties {
  margin-top: 1.1%;
  margin-bottom: 15%;
}

/* Property Details Button in PropertyList.js*/
.propertyDetails {
  margin-top: 1%;
}

/*Delete Button PropertyList.js*/
.deleteProp,
.warning {
  color: red;
  
}

/* Delete Alert */ 
.DeleteAlert {
  margin-left: 10%;
  margin-right: 10%;
  

}