#nav-image{
    height: 150px;
    overflow: hidden;
    float: right;
    margin-bottom: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.39);
}

.row {
    margin-left: auto;
}